body {
    background: #cccccc;
}
#title, .subtitle, .post_title {
    color: blue;
}

#title {
    margin-bottom: 15px;
}

.body {
    margin-top: 15px;

}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #ffffff;
    padding: 15px;
    border: 2px solid #505050;
    margin-bottom: 15px;
}

.dark {
    border-radius: 5px;
}